/** @format */

/* 
# Reset Base :
- based on Josh Comeau's structure/rules
- adjusted with Andy Bells rules
    - these will be indicated
- further adjusted by my rules
    - these will be indicated

# Resources:
- [Josh Comeau's Reset](https://www.joshwcomeau.com/css/custom-css-reset/)
- [Andy Bell's Reset](https://piccalil.li/blog/a-more-modern-css-reset/)
*/

/*
  1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
    2. Remove default margin

    - Josh Comeau removes the margin from all elements
    using the * selector.
    - I'm trying Andy Bells approach of only removing 
    the margin from some elements
    
  */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
        - replace -webkit-font-smoothing: antialiased;
        with font-smoothing: antialiased; to work with 
        progressive inhancements principles
        - add text-rendering: optimizeSpeed; from Andy Bell's
  */
body {
	line-height: 1.5;
	font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}

/* 
My addition - button font color on firefox mobile does not autumatically inherit - Feb 2026
 */

button,
input {
	color: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* The following are from Andy Bells' reset */

/* 
  9. Remove list styles on ul, ol elements with a 
  list role
 */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* 
  10. Set core root defaults
 */
html:focus-within {
	scroll-behavior: smooth;
}

/* 
  11. Set core body defaults
 */
body {
	min-height: 100vh;
}

/* 
  12. Elements that don't have a class get default styles 
  */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* 13. Remove all animations, transitions and smooth scroll
 for people that prefer not to see them 
 */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
